* {
  font-family: inconsolata, monospace;
}


.profile_pic img {
  height: auto;
  width: 100%;
}

.post-btn,
.nav-btn {
  width: 6em;
}

.nav-btn {
  font-weight: bold;
}

hr {
  margin: 3px;
  /* width: 100%; */
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 225%;
}

h3 {
  font-size: 200%;
}

h4 {
  font-size: 175%;
}

h5 {
  font-size: 150%;
}

h6 {
  font-size: 125%;
}

.post-main,
.post-nav,
.post-avatar,
.post-answers {
  padding: 3px;
}

.post-main {
  padding-right: 0.7em;
}

.post-avatar img{
  max-height: auto;
  max-width: 100%;
  /* margin-left: -10px; */
}

#body.form-control {
  height: 20em;
  resize: none;
}

.post {
  border-left-style: dotted;
  border-left-color: silver;
  border-width: thin;
  border-right-style: dotted;
  border-right-color: silver;

  width: 100%;
  padding-right: 1em;
  background-color: white;
  margin-bottom: -10px !important;
  margin-top: 1em;
}

.main-row,
.answer-row,
.nav-row {
  border-top-style: dotted;
  border-top-width: thin;
  border-top-color: silver;
  margin-left: 0;
  padding-left: 0;
}


#post-separator {
  margin-bottom: 2em;
}
