* {
  font-family: inconsolata, monospace;
}


.profile_pic img {
  height: auto;
  width: 100%;
}

hr {
  margin: 3px;
  /* width: 100%; */
}

.post-main,
.post-nav,
.post-avatar,
.post-answers {
  padding: 3px;
}

.post-avatar img {
  max-height: auto;
  max-width: 100%;
  /* margin-left: -10px; */
}

#body.form-control {
  height: 20em;
  resize: none;
}

.post {
  border-left-style: dotted;
  border-left-color: silver;
  border-width: thin;
  border-right-style: solid;
  border-right-color: transparent;

  width: 100%;
  padding-right: 0em;
  background-color: white;
  margin-bottom: -10px !important;
  margin-top: 1em;
}

.main-row,
.answer-row,
.nav-row {
  border-top-style: dotted;
  border-top-width: thin;
  border-top-color: silver;
  margin-left: 0;
  padding-left: 0;
}


#post-separator {
  margin-bottom: 2em;
}
