* {
  font-family: inconsolata, monospace;
}

/*
 {
  max-width: 100%;
  max-height: auto;
}
*/
.profile_pic img {
  height: auto;
  width: 100%;
}

hr {
  margin: 3px;
  /* width: 100%; */
}

.avatar_pic img {
  max-height: auto;
  max-width: 100%;
  /* margin-left: -10px; */
}

#body.form-control {
  height: 20em;
  resize: none;
}

.post {
  /*
  border-top-style: solid;
  border-top-left-radius: 3px;
  border-bottom-style: solid;
  border-bottom-left-radius: 3px;
  border-color: silver;
  border-width: thin;
*/
  border-left-style: dotted;
  border-left-color: silver;
  border-width: thin;
  border-right-style: solid;
  border-right-color: transparent;
  border-top-style: solid;


  width: 100%;
  padding-right: 1em;
  background-color: white;
  margin-bottom: -10px !important;
  margin-top: 1em;
}

.post > div {
  /* padding-top: 0em; */
  margin-left: 0.1em;
  padding-left: 1em;
}

#post-separator {
  margin-bottom: 2em;
}
