<div class="post">
  <div class="row">
    <div class="col-md-2">
      <div class="avatar_pic">
        <img src="{{ image_url(post.author.profile_pic) }}">
      </div>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-6">
          {% if post.author.displayed_name %}
          <b>{{ post.author.displayed_name }}</b>
          <i>({{ post.author.handle }})</i>
          {% else %}
          <b>{{ post.author.handle }}</b>
          {% endif %}
        </div>
        <div class="col-md-6" align="right">
          {{ post.timestamp }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {{ post.body }}
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12">
        <a href="{{ url_for('main.post', handle=post.author.handle, post_id=post.id) }}">
          Answer
        </a>
        {% if post.comment_to %}
        <a href="{{ url_for('main.post', handle=post.comment_to.author.handle, post_id=post.comment_to.id)}}">
          Back to parent post
        </a>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {% if post.comments %}
            {% for post in post.comments %}
              <p>{% include "main/_post.html.j2" %}</p>
            {% endfor %}
        {% endif %}
      </div>
    </div>
</div>
