<h1>Welcome to PiBoard</h1>
<p>
  This is PiBoard, the <b>little</b> bulletin board for your intranet.
</p>
<p>
  If you are a new user, you may want to
  <a href="{{ url_for('auth.register') }}">register</a>.
  If you already did that, you may want to
  <a href="{{ url_for('auth.login') }}">login</a>.
</p>
