{% extends "main/profile.html.j2" %}

{% block profile_content %}
<h1>Edit Profile</h1>
    <div class="row">
      <div class="col-md-9">
        {{ wtf.quick_form(form) }}
      </div>
    </div>
{% endblock profile_content %}
