{% extends "base.html.j2" %}

{% block app_content %}
{% if current_user.is_anonymous %}
  {% include 'main/_welcome.html.j2' %}
{% else %}
Nothing here yet, sorry :(
{% endif %}
{% endblock app_content %}
