{% extends "base.html.j2" %}

{% block app_content %}
{% if current_user.is_anonymous %}
  {% include 'main/_welcome.html.j2' %}
{% else %}
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      {% with top_level_visible = True, show_answers = False, depth = 0 %}
      {% for post in posts %}
        {% if not post.parent_id %}
        <p>{% include "main/_post.html.j2" %}</p>
        <hr id="post-separator">
        {% endif %}
      {% endfor %}
      {% endwith %}
    </div>
  </div>
{% endif %}
{% endblock app_content %}
